{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  </head>
  <body id="bg">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div>
        <label class="switch">
            <input type="checkbox" id="switch" name="theme">
            <span class="slider round"></span>
        </label>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item current">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item">
            <a href="gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        What have I done so far?
      </h2>
      <div class="about-info">
        <img src="/static/img/portrait.jpg" alt="Stanimir Velichkov" class="bio-image">
  
        <div class="bio">
          <h3 class="text-secondary">INTRODUCTION</h3>
          <p>
            Hello there! I am Stan and currently a computer science student at the University of Birmingham.
            I spend my time working on cool <a href="projects" class="text-secondary">projects</a> like this one, or being eager to know more about the game development and the VR Technologies. When not bashing the keyboard I enjoy hiking, swimming and photography
            as well as listening music.
          </p>
        </div>

        <div class="edu skills_tab">
          <h2>Programming Skills</h2>

          <div class="sinfo_1">
            <div class="skillbar">
              <p>Java</p>
              <p>85%</p>

              <div class="skill_percentage">
                <div class="skill_level java"></div>
              </div>
            </div>

            <div class="skillbar">
              <p>C#</p>
              <p>85%</p>

              <div class="skill_percentage">
                <div class="skill_level c_sharp"></div>
              </div>
            </div>
          </div>

          <div class="sinfo_2">
            <div class="skillbar">
              <p>HTML5/CSS3/JS</p>
              <p>75%</p>

              <div class="skill_percentage">
                <div class="skill_level web"></div>
              </div>
            </div>

            <div class="skillbar">
              <p>Python
              <p>60%</p>
              <div class="skill_percentage revealOnScroll">
                <div class="skill_level python"></div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="edu edu-1">
          <h2>High school</h2>
          <h3><span class="text-secondary"> <i> National High School for Mathematics and Sciences</span> <br> Sofia, Bulgaria </i></h3>
          <h4><i>2014 - 2019</i></h4>
          <h3> <span class="text-secondary">Mathematics and Informatics</span></h3>
        </div>
  
        <div class="edu edu-2">
          <h2>University</h2>
          <h3><span class="text-secondary"> <i> University of Birmingham</span> <br> Birmingham, United Kingdom </i></h3>
          <h4><i>2019 - present</i></h4>
          <h3> <span class="text-secondary">Computer science</span> </h3>
        </div>

        <div class="edu edu-3 e_column_btn" onclick="scrollFunction()">
          <div class="table">
              <h2>Events</h2>
              <h3><span class="text-secondary"> <i> Hackathons <br> Competitions </i> </span></h3>
              <h4><i>2018 - 2020</i></h4>
              <h3><span class="text-secondary"><i>Tap to learn more</i></span></h3>
          </div>
        </div>

        <div id="events" class="edu eventTab" style="display: none">
          <div>
            <h2 style="margin-left: 5px;">Some events I have attended and have helped me to learn more:</h2>
            <p>1Up Game Jam 2020, Birmingham, United Kingdom</p>
            <p class="text-secondary">Global Game Jam 2020, Birmingham, United Kingdom</p>
            <p>MLH Local Hack Day 2019, Birmingham, United Kingdom</p>
            <p class="text-secondary">Nathional Olympiad in Information Technologies, 2019, Vratsa, Bulgaria</p>
            <p>Winter Student Conference on Informatics && IT, 2019, Pazardzhik, Bulgaria</p>
            <p class="text-secondary">SoftUni Fest, 2018, Sofia, Bulgaria</p>
            <p>Nathional Olympiad in Information Technologies, 2018, Targovishte, Bulgaria</p>
            <p class="text-secondary">@Apps@НПМГ, 2018, Sofia, Bulgaria</p>
            <p>Spring Student Conference on Informatics && IT, 2018, Borovets, Bulgaria</p>
            <p class="text-secondary">SoftUniada, 2018, Sofia, Bulgaria</p>
          </div>
        </div>
      </div>
    </main>

    <script>
      function scrollFunction() {
      var x = document.getElementById("events");
      if (x.style.display === "none") {
        x.style.display = "block";
          x.scrollIntoView({
          behavior: "smooth",
          block: "start",
          inline: "nearest"
        });
      } else {
        x.style.display = "none";
     }
    }
    </script>

    <footer id="main-footer">
      <i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart" aria-hidden="true"></i>
      by Stanimir Velichkov <br> &copy; 2020
    </footer>
  
    <script src="static/js/dm_toggle.js"></script>
    <script src="static/js/portfolio.js"></script>
  </body>
</html>
