{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  </head>
  <body id="bg">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div>
        <label class="switch">
            <input type="checkbox" id="switch" name="theme">
            <span class="slider round"></span>
        </label>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item current">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item">
            <a href="gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        What have I done so far?
      </h2>
      <div class="about-info">
        <img src="/static/img/portrait.jpg" alt="Stanimir Velichkov" class="bio-image">
  
        <div class="bio">
          <h3 class="text-secondary">INTRODUCTION</h3>
          <p>
            Hello there! I am Stan and currently a computer science student at the University of Birmingham.
            I spend my time working on cool projects like this one or doing games. When not bashing the keyboard I enjoy hiking and photography
            as well as listening music.
          </p>
        </div>
  
        <div class="edu edu-1">
          <h2>High school</h2>
          <h3><span class="text-secondary">National High School for Mathematics and Sciences</span> <br> Sofia, Bulgaria </h3>
          <h4><i>2014 - 2019</i></h4>
          <h3> <span class="text-secondary">Mathematics and Informatics</span></h3>
        </div>
  
        <div class="edu edu-2">
          <h2>University</h2>
          <h3><span class="text-secondary">University of Birmingham</span> <br> Birmingham, United Kingdom </h3>
          <h4><i>2019 - present</i></h4>
          <h3> <span class="text-secondary">Computer science</span> </h3>
        </div>
  
        <div class="edu edu-3">
          <h2>Hackathons</h2>
          <h3><span class="text-secondary">List of hackathons and competitions I've participated in</span></h3>
          <h4><i>2018 - 2020</i></h4>
          <p><i>Here I will upload a full list with all of the events I took part in. I will keep you updated!</i></p>
        </div>
      </div>
    </main>
  
    <footer id="main-footer">
      Copyright &copy; 2020
    </footer>
  
    <script src="static/js/dm_toggle.js"></script>
    <script src="static/js/portfolio.js"></script>
  </body>
</html>
