{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery</title>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
  </head>
  <body id="bg">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div>
        <label class="switch">
          <input type="checkbox" id="switch" name="theme" />
          <span class="slider round"></span>
        </label>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item current">
            <a href="gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="lg-heading">
        My
        <span class="text-secondary">Gallery</span>
      </h1>
      <h2 class="sm-heading">
        <i>Coming soon... </i>
      </h2>
      <p>
        Please, come back later! There is a random picture to brighten up your
        day:
      </p>
      <img class="g_pic" src="https://picsum.photos/600/700" alt="" />
    </main>

    <footer id="main-footer">
      <i class="fa fa-code" aria-hidden="true"></i> with
      <i class="fa fa-heart" aria-hidden="true"></i> by Stanimir Velichkov
      <br />
      &copy; 2020
    </footer>

    <script src="static/js/dm_toggle.js"></script>
    <script src="static/js/portfolio.js"></script>
  </body>
</html>
