{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanimir Velichkov</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="page-header">
      <h1>Stanimir Velichkov</h1>
      <p>Stan</p>
    </div>

    <ul class="topnav">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="#interests">Interests</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Contacts</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
    </ul>

    <div style="padding:0 16px;">
      <h1>Content</h1>
    </div>

      <!--<div class="button-group">
        <button class="button">About</button>
        <button class="button">Projects</button>
        <a href="/blog"><button class="button">Blog</button></a>
      </div>

      <p style="clear:both"><br></p>
      -->
  </body>
</html>
