{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stanimir Velichkov</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  </head>
  <body>
    <header id="bg-img">
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item current">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item">
            <a href="contacts.html" class="nav-link">
              Contacts
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="home">
      <h1 class="lg-heading">
        Stanimir <span class="text-secondary">Velichkov</span>
      </h1>
      <h2 class="sm-heading">
        Computer science student passionated about Programming and Game Development
      </h2>
      <div class="icons">
        <a href="#!">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="#!">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </main>

    <script src="static/js/portfolio.js"></script>
  </body>
</html>
