{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stanimir Velichkov</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet" type="text/css">
  </head>
  <body>
    <center>

      <h1>Stanimir Velichkov</h1>

      <div class="btn-group">
        <button class="button">About</button>
        <button class="button">Projects</button>
        <a href="/blog"><button class="button">Blog</button></a>
      </div>

      <p style="clear:both"><br></p>
    </center>
  </body>
</html>
