{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My projects</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
  </head>
  <body id="bg">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div>
        <label class="switch">
            <input type="checkbox" id="switch" name="theme">
            <span class="slider round"></span>
        </label>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item current">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item">
            <a href="gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="projects">
      <h1 class="lg-heading">
        My
        <span class="text-secondary">projects</span>
      </h1>
      <h2 class="sm-heading">
        Check out some of my projects...
      </h2>

      <h2><i><span class="text-secondary">Upcoming projects</span></i></h2>

      <div class="projects">
        <div class="item">
            <!-- <a href="#!"> -->
                <img src="static/img/projects/TSG_Logo_Newer.png" alt="The Slavonic grandmother">
                <div class="info">
                  <h1>Project</h1>
                  <p><i>"The adventures of the Slavonic grandmother <span class="text-secondary">2020"</span></i> features our beloved grandmother in a new sequence of funny situations when trying not to let one of the most dangerous criminals of all time to escape.</p>
                  <a href="#" class="btn-light">
                    <i class="fas fa-eye"></i> Subscribe
                  </a>
                </div>
            <!-- </a> -->
        </div>
      </div>

      <h2><i>Recent projects</i></h2>

      <div class="projects">
        <div class="item">
            <!-- <a href="#!"> -->
                <img src="static/img/projects/GTT.png" alt="Get to the Top!">
                <div class="info">
                  <h1>Get to the Top!</h1>
                  <p>2D Multiplayer Game where two people have to compete with each other. Whoever reaches the top first wins!</p>
                  <a href="https://stan-arts.itch.io/get-to-the-top" target="blank" class="btn-light">
                    <i class="fa fa-download"></i> Download
                  </a>
                  <a href="https://github.com/StanArts/Get-to-the-top-Game" target="blank" class="btn-dark">
                    <i class="fab fa-github"></i> Github
                  </a>
                </div>
            <!-- </a> -->
        </div>
        <div class="item">
            <!-- <a href="#!"> -->
                <img src="static/img/projects/Maskus_Logo.png" alt="Maskus - The quarantine game">
                <div class="info">
                  <h1>Maskus - The quarantine game</h1>
                  <p></p>
                  <a href="https://stan-arts.itch.io/maskus-stay-safe" target="blank" class="btn-light">
                    <i class="fa fa-download"></i> Download
                  </a>
                  <a href="#" class="btn-dark">
                    <i class="fab fa-github"></i> Like
                  </a>
                </div>
            <!-- </a> -->
        </div>
        <div class="item">
            <!-- <a href="#!"> -->
              <img src="static/img/projects/SE.png" alt="The Quantum Labyrinth">
              <div class="info">
                <h1>The Quantum Labyrinth</h1>
                <p>The game I created together in a team with <a href="https://www.facebook.com/profile.php?id=100007723125060">Ivan Tsoninski</a> for the <a href="https://itch.io/jam/special-effects-jam">Special Effect Charity Game Jam 2020</a></p>
                <a href="https://ivan-tigan.itch.io/the-quantum-labyrinth" target="blank" class="btn-light">
                  <i class="fa fa-download"></i> Download
                </a>
                <a href="https://github.com/Ivan-Tigan/se" target="blank" class="btn-dark">
                  <i class="fab fa-github"></i> Github
                </a>
              </div>
          <!-- </a> -->
        </div>
        <div class="item">
            <!-- <a href="#!"> -->
              <img src="static/img/projects/GGJ.png" alt="Gun Repair">
              <div class="info">
                <h1>Gun Repair (Global game jam 2020)</h1>
                <p>2D Multiplayer game where two players have to runaway from a dangerous creature and destroy it by repairing a gun with the pieces they find on the map.</p>
                <a href="https://github.com/StanArts/GGJ-Repair" target="blank" class="btn-dark">
                  <i class="fab fa-github"></i> Github
                </a>
              </div>
          <!-- </a> -->
        </div>
      </div>
    </main>
  
    <footer id="main-footer">
      Copyright &copy; 2020
    </footer>
  
    <script src="static/js/dm_toggle.js"></script>
    <script src="static/js/portfolio.js"></script>
  </body>
</html>
