{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My projects</title>

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
  </head>
  <body id="bg">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <div>
        <label class="switch">
          <input type="checkbox" id="switch" name="theme" />
          <span class="slider round"></span>
        </label>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="about" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item current">
            <a href="projects" class="nav-link">
              My projects
            </a>
          </li>
          <li class="nav-item">
            <a href="gallery" class="nav-link">
              Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="projects">
      <h1 class="lg-heading">
        My
        <a href="https://github.com/StanArts?tab=repositories" target="blank">
          <span class="text-secondary">projects</span>
        </a>
      </h1>
      <h2 class="sm-heading">
        Check out some of my projects...
      </h2>
      <h2 style="text-align: right;">
        <i
          >Find more
          <a href="https://github.com/StanArts?tab=repositories" target="blank"
            ><u class="text-secondary">here</u></a
          >!</i
        >
      </h2>

      <h2>
        <i><span class="text-secondary">Upcoming projects</span></i>
      </h2>

      <div class="projects">
        <div class="item">
          <img
            src="static/img/projects/TSG_Logo_Newer.png"
            alt="The Slavonic grandmother"
          />
          <div class="info">
            <h1>The adventures of the Slavonic grandmother</h1>
            <p>
              <i
                >"The adventures of the Slavonic grandmother
                <span class="text-secondary">2020</span>"</i
              >
              features our beloved grandmother in a new sequence of funny
              situations while trying to prevent one of the most dangerous
              prisoners from escaping.
            </p>
            <!-- <a href="#" class="btn-light">
              <i class="fas fa-thumbtack"></i> Subscribe
            </a> -->
            <i>Coming soon!</i>
          </div>
        </div>
      </div>

      <h2><i>Recent projects</i></h2>

      <div class="projects">
        <div class="item">
          <img src="static/img/projects/GTT.png" alt="Get to the Top!" />
          <div class="info">
            <h1>Get to the Top!</h1>
            <p>
              2D Multiplayer Game where two people have to compete with each
              other. Whoever reaches the top first wins!
            </p>
            <a
              href="https://stan-arts.itch.io/get-to-the-top"
              target="blank"
              class="btn-light"
            >
              <i class="fa fa-download"></i> Download
            </a>
            <a
              href="https://github.com/StanArts/Get-to-the-top-Game"
              target="blank"
              class="btn-dark"
            >
              <i class="fab fa-github"></i> Github
            </a>
          </div>
        </div>

        <div class="item">
          <img
            src="static/img/projects/Maskus_Logo.png"
            alt="Maskus - The quarantine game"
          />
          <div class="info">
            <h1>
              Maskus <br />
              <i>The quarantine game</i>
            </h1>
            <p>
              The game I created during the first few weeks of the pandemic in
              2020 to remind in a different way as many people as possible to
              wear their masks when going outside.
            </p>
            <a
              href="https://stan-arts.itch.io/maskus-stay-safe"
              target="blank"
              class="btn-light"
            >
              <i class="fa fa-download"></i> Download
            </a>
            <a
              href="https://www.facebook.com/Maskus-The-quarantine-game-102219418196715/?ref=py_c"
              target="blank"
              class="btn-facebook"
            >
              <i class="fab fa-facebook"></i> Facebook
            </a>
          </div>
        </div>
        <div class="item">
          <img
            src="static/img/projects/SE.png"
            width="250"
            height="250"
            alt="The Quantum Labyrinth"
          />
          <div class="info">
            <h1>The Quantum Labyrinth</h1>
            <p>
              The game I created together in a team with
              <a
                class="text-secondary"
                href="https://www.facebook.com/profile.php?id=100007723125060"
                target="blank"
                >Ivan Tsoninski</a
              >
              for the
              <a
                class="text-secondary"
                href="https://itch.io/jam/special-effects-jam"
                >Special Effect Charity Game Jam 2020</a
              >
            </p>
            <a
              href="https://ivan-tigan.itch.io/the-quantum-labyrinth"
              target="blank"
              class="btn-light"
            >
              <i class="fa fa-download"></i> Download
            </a>
            <a
              href="https://github.com/Ivan-Tigan/se"
              target="blank"
              class="btn-dark"
            >
              <i class="fab fa-github"></i> Github
            </a>
          </div>
        </div>
        <div class="item">
          <img src="static/img/projects/GGJ.png" alt="Gun Repair" />
          <div class="info">
            <h1>Gun Repair (Global game jam 2020)</h1>
            <p>
              2D Multiplayer game where two players have to runaway from a
              dangerous creature and destroy it by repairing a gun with the
              pieces they find on the map.
            </p>
            <a
              href="https://github.com/StanArts/GGJ-Repair"
              target="blank"
              class="btn-dark"
            >
              <i class="fab fa-github"></i> Github
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer id="main-footer">
      <i class="fa fa-code" aria-hidden="true"></i> with
      <i class="fa fa-heart" aria-hidden="true"></i> by Stanimir Velichkov
      <br />
      &copy; 2020
    </footer>

    <script src="static/js/dm_toggle.js"></script>
    <script src="static/js/portfolio.js"></script>
  </body>
</html>
