<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stanimir's blog</title>
  </head>
  <body>
    <p>Hello there!</p>
    <p>It works!</p>

    <div>
      <h1> <a href="/">Stanimir's Blog</a> </h1>
    </div>

    <div class="">
      <p>published: 27.05.2020, 13:59</p>
      <h2><a href="">My first post</a> </h2>
      <p>Top secret!</p>
    </div>

    <div class="">
      <p>published: 27.05.2020, 13:59</p>
      <h2><a href="">My second post</a> </h2>
      <p>Top secret!</p>
    </div>

  </body>
</html>
