:root {
  --header-color: #0051aa;
  --title-color: #ffffff;
  --text-color: #000000;
  --background-color: #ffffff;
  --blend-mode: normal;
  --toggle-btn-color: #919191;
  --wave-filter: invert(0%); }

.dark-theme {
  --header-color: #00a7aa;
  --text-color: #ffffff;
  --title-color: #000000;
  --background-color: #000000;
  --blend-mode: lighten;
  --toggle-btn-color: #fafafa;
  --wave-filter: invert(100%); }

.toggle-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  cursor: pointer;
  z-index: 9999; }

.toggle-btn i {
  margin: auto;
  font-size: 2rem; }

body {
  color: var(--text-color);
  background: var(--background-color);
  transition: background-color 2s ease-out; }
  body section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
    overflow: hidden;
    transition: background-color 2s ease-out;
    border: none; }
  body .page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border: none; }
  body .page-header h1,
  body .page-header h1 a,
  body .page-header h1 a:visited,
  body .page-header h1 a:active {
    color: var(--title-color);
    font-size: 5rem;
    text-decoration: none; }
  body section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("/static/img/blog-elements/wave.png");
    background-size: 1100px 100px;
    transition: filter 2s ease-out;
    filter: var(--wave-filter); }
  body section .wave.wave1 {
    animation: animate 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px; }
  body section .wave.wave2 {
    animation: animate2 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -2s;
    bottom: -10px; }
  body section .wave.wave3 {
    animation: animate 5s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: -15px; }
  body section .wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: -20px; }

@keyframes animate {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 1100px; } }

@keyframes animate2 {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: -1100px; } }
  body .content {
    margin-right: 45px;
    margin-left: 45px;
    width: auto; }
    body .content input {
      background-color: var(--background-color);
      transition: background-color 2s ease-out; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-family: "Chelsea Market", "cursive"; }
  body p {
    font-size: 19px;
    text-align: justify; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  body .date {
    color: #828282; }
  body .save {
    float: right;
    background-color: var(--background-color); }
  body .post-form textarea,
  body .post-form input {
    width: 100%;
    background-color: var(--background-color); }
  body .top-menu,
  body .top-menu:hover,
  body .top-menu:visited {
    color: var(--title-color);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26pt;
    margin-right: 20px; }
  body .post {
    margin-top: 45px;
    margin-bottom: 70px; }
  body .post h2 a,
  body .post h2 a:visited {
    color: var(--text-color); }
  body .comment {
    margin: 20px 0px 20px 20px;
    color: var(--text-color); }
